BW_SESSION="xxx"
DB_PATH="config/export/myfile.kdbx"
DB_PWD="My passphrase"
BW_PATH="/usr/local/bin/bw"

DIR_BW_DATA="/my/persistent/bitwarden/directory"
DIR_KP_EXPORT="/my/keepass/database/directory"
